h1{
    color: antiquewhite;background-color: darkviolet;
    text-align: center;
}
p{
    color:black;
}
body{
    background-color: ;
}
a:hover{
    color: black;
}
h3{
    color: blueviolet;background-color:violet;
}

div{
    background-color: lightgoldenrodyellow;
}